.pronoun-paragraph {
    display: none;
}

#check-btn {
    display: none;
}



button {
    margin: 5px;
    padding: 5px 8px;
    outline: none;
    background: #32bacf;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    width: 75px;
}

button:hover {
    background-color: #ffa000;
    cursor: pointer;
}

#result {
  border:1px solid; 
  display:inline-block;
  margin:5px;
/*   padding:5px; */
}