body {
    background-color: #ACEBFF;
}

@media (min-width: 576px) {
    .jumbotron {
        padding-bottom: 0;
    }
}
#navbar {
    background-color: #FFF5DA;
}

.pronoun-paragraph {
    display: none;
}

#check-btn {
    display: none;
}
#go-btn {
    margin-left: 95px;
}



button {
    margin: 5px;
    padding: 5px 8px;
    outline: none;
    background: #32bacf;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    width: 75px;
}

button:hover {
    background-color: #ffa000;
    cursor: pointer;
}

.result {
  border:1px solid; 
  display:none;
  margin:5px;

}

#reset-btn {
    display:none;
}