body {
    background-color: #ACEBFF;
}

@media (min-width: 576px) {
    .jumbotron {
        padding-bottom: 0;
    }
}
#navbar {
    background-color: #FFF5DA;
}

.pronoun-paragraph {
    display: none;
}

#check-btn {
    display: none;
}
#go-btn {
    width: 240px;
    font-family: Darker Grotesque;
    font-size: 35px;
    border-radius: 30px;
    background-color: #FFF5DA;

    
}

#go-area {
    align-items: center;
    text-align: center;
}



button {
    margin: 5px;
    padding: 5px 8px;
    outline: none;
    background: #ECD3FF;
    border: none;
    color: black;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    font-size: 1em;
    width: 75px;
}

button:hover {
    background-color: #FFF5DA;
    cursor: pointer;
    
}

.result {
  border:1px solid; 
  display:none;
  margin:5px;

}

#reset-btn {
    display:none;
}

.select-pronouns {
    background-color: #D8A7FF;
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    font-family: Darker Grotesque;
    font-size: 35px;
    padding-bottom: 15px;
}