/* CSS code */
body {
    background-color: #ACEBFF;
  }
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  #navbar {
    background-color: #FFF5DA;
}
  .center-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
  }
  
  .twitter-column {
    width: 30%; /* Added a new class for the Twitter column with width set to 30% */
    
  }
  .white-box {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    border-radius: 5%;
  }
  .embed-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  .news-article-title {
    margin-top: 0; /* Remove the top margin from the news article title */
  }
  @media (max-width: 1000px) {
    .center-content {
      flex-direction: column;
    }
    .embed-wrapper {
      flex-direction: column;
    }
    .embed-container {
      width: 100%;
    }
    .white-box {
      width: 100%;
    }
  }

.col-sm-4 {
    background-color: #D8A7FF;
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    padding-right: 15px; 
    text-align: center;
    padding-bottom: 20px;
    
}
.col-sm-7 {
    background-color: rgba(179, 255, 83, 0.4);;
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: -80px;

}