.dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dashboard-dashboard {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(172, 235, 255, 1);
}
.dashboard-header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 151px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #FFF5DA;
}
.dashboard-homepage-bubble {
  top: 25px;
  left: 37px;
  width: 297px;
  height: 93px;
  position: absolute;
  background-color: #D8A7FF;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 300px;

}
.dashboard-icon {
  top: 22px;
  left: 56px;
  width: 69px;
  height: 100px;
  position: absolute;
}
.dashboard-text {
  top: 36px;
  left: 124px;
  color: rgb(0, 0, 0);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: left;
  font-family: Ribeye Marrow;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-welcome {
  top: 186px;
  left: 75px;
  width: 1770px;
  height: 105px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble {
  top: 0px;
  left: 0px;
  width: 1770px;
  height: 105px;
  position: absolute;
  position: absolute;
  background-color: #D8A7FF;
  border: 5.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 300px;
}
.dashboard-text01 {
  top: 2.763157844543457px;
  left: 200px;
  color: rgb(0, 0, 0);
  width: 1371px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: center;
  font-family: Darker Grotesque;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-pronouns {
  top: 340px;
  left: 691px;
  width: 538px;
  height: 694px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble01 {
  top: 0px;
  left: 0px;
  width: 538px;
  height: 694px;
  position: absolute;
  background-color: #ffb0e1;
  border: 5.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 90px;
}
.dashboard-bubble02 {
  top: 27.760009765625px;
  left: 27px;
  width: 484px;
  height: 640px;
  position: absolute;
  background-color: #ffffff;
  border: 5.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 90px;
}
.dashboard-text02 {
  top: 39px;
  left: 84px;
  color: rgba(0, 0, 0, 1);
  width: 370px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Darker Grotesque;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: underline;
}
.dashboard-text04 {
  left: 68px;
  color: rgba(0, 0, 0, 1);
  width: 402px;
  bottom: 62px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Darker Grotesque;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-pronouns-chart-homepage {
  top: 123px;
  left: 78px;
  width: 382px;
  height: 416px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border: 2px solid rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}

.dashboard-talk-to-possum {
  top: 916px;
  left: 75px;
  width: 538px;
  height: 118px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble03 {
  top: 0px;
  left: 0px;
  width: 538px;
  height: 118px;
  position: absolute;
  background-color: #FFBBC7;
  border: 5.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 90px;

}
.dashboard-text06 {
  top: 18px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  width: 452px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Darker Grotesque;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: underline;
}
.dashboard-news {
  top: 916px;
  left: 1307px;
  width: 538px;
  height: 118px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble04 {
  top: 0px;
  left: 0px;
  width: 538px;
  height: 118px;
  position: absolute;
  background-color: #3fa2ff96;
  border: 5.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 90px;
}
.dashboard-text08 {
  top: 18px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  width: 452px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Darker Grotesque;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: underline;
}
.dashboard-identities {
  top: 340px;
  left: 1308px;
  width: 538px;
  height: 527px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble05 {
  top: 0px;
  left: 0px;
  width: 538px;
  height: 527px;
  position: absolute;
  background-color: #FFC89F;
  border: 5.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 90px;

}
.dashboard-bubble06 {
  top: 27px;
  left: 27px;
  width: 484px;
  height: 472px;
  position: absolute;
  background-color: #ffffff;
  border: 5.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 90px;

}
.dashboard-text10 {
  top: 27px;
  left: 79px;
  color: rgba(0, 0, 0, 1);
  width: 370px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Darker Grotesque;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: underline;
}
.dashboard-text12 {
  left: 64px;
  color: rgba(0, 0, 0, 1);
  width: 411px;
  bottom: 50px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Darker Grotesque;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-pride-flag {
  top: 118px;
  left: 92px;
  width: 353px;
  height: 219px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
}
.dashboard-possum-pic {
  top: 340px;
  left: 76px;
  width: 538px;
  height: 527px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-group10 {
  top: 0px;
  left: 0px;
  width: 538px;
  height: 527px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble07 {
  top: 0px;
  left: 0px;
  width: 538px;
  height: 527px;
  position: absolute;
  background-color: #8cffc7;
  border: 5.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 90px;
}
.dashboard-bubble08 {
  top: 27px;
  left: 27px;
  width: 484px;
  height: 472px;
  position: absolute;
  background-color: #ffffff;
  border: 5.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 90px;
}
.dashboard-text14 {
  top: 100px;
  left: 108px;
  color: rgba(0, 0, 0, 1);
  width: 326px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Darker Grotesque;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
  border: 5px solid rgba(0, 0, 0, 0.5);
}
.dashboard-pronouns-header {
  top: 34px;
  left: 720px;
  width: 224px;
  height: 81px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble09 {
  top: 0px;
  left: 0px;
  width: 224px;
  height: 81px;
  position: absolute;
  background-color: #ffffff;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 300px;
}
.dashboard-text16 {
  top: 13px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Varela Round;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-identities-header {
  top: 34px;
  left: 977px;
  width: 224px;
  height: 81px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble10 {
  top: 0px;
  left: 0px;
  width: 224px;
  height: 81px;
  position: absolute;
  background-color: #ffffff;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 300px;
}
.dashboard-text18 {
  top: 14px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Varela Round;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-ask-possum-a-header {
  top: 34px;
  left: 1234px;
  width: 271px;
  height: 81px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble11 {
  top: 0px;
  left: 0px;
  width: 271px;
  height: 81px;
  position: absolute;
  background-color: #ffffff;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 300px;
}
.dashboard-text20 {
  top: 14px;
  left: 18px;
  color: rgb(0, 0, 0);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Varela Round;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-text21 {
  top: 10.253164291381836px;
  left: 198px;
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Varela Round;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-news-header {
  top: 34px;
  left: 1538px;
  width: 154px;
  height: 81px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble12 {
  top: 0px;
  left: 0px;
  width: 154px;
  height: 81px;
  position: absolute;
  background-color: #ffffff;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 300px;
}
.dashboard-text23 {
  top: 13px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Varela Round;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-about-header {
  top: 33px;
  left: 1725px;
  width: 161px;
  height: 81px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-bubble13 {
  top: 0px;
  left: 0px;
  width: 161px;
  height: 81px;
  position: absolute;
  background-color: #ffffff;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 300px;
}
.dashboard-text25 {
  top: 14px;
  left: 19px;
  color: rgba(0, 0, 0, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Varela Round;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}